$f-size: 12px;
$c-success: #00FF00;
$c-warning: #FF0000;

%fontSize {
  font-size: $f-size;
}

.info {
  @extend %fontSize;
}

.success {
  @extend %fontSize;
  color: $c-success;
}

.warning {
  @extend %fontSize;
  color: $c-warning;
}